{{> menu}}

<main role="main" class="container-padding">
  <div class="container">
    <div class="row">
      {{#each productos}}
       {{> producto}}
      {{/each}}

    </div>
  </div>
</main>

<!-- Modal de Carrito -->
<div class="modal fade" id="carritoModal" tabindex="-1" role="dialog" aria-labelledby="carritoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="carritoModalLabel">Carrito de Compras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="listaCarrito" class="list-group">
          <!-- Aquí se mostrarán los productos del carrito -->
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Pagar</button>
      </div>
      <div class="modal-footer">
        <h5>Total de la compra: <span id="totalCompra">0 USD</span></h5>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script src="/js/script.js"></script>
 <!-- Tu archivo de scripts personalizados -->
