<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

{{> menu}} <!-- Incluir el menú -->

{{> carrito}}

<main role="main" class="container-padding">
  <div class="container">
    <div class="row">
      {{#each productos}}
        {{> producto}} <!-- Renderizar cada producto utilizando la plantilla 'producto' -->
      {{/each}}
    </div>
  </div>
</main>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>



</body>
</html>
